<div class="d-flex">

  <!-- Sidebar -->
<div
  class="sidebar"
  [class.collapsed]="sidebarCollapsed">
    <!-- Header -->
   <div class="sidebar-header">

  <button
    class="menu-btn"
    (click)="toggleSidebar()">

    <i class="bi bi-list"></i>

  </button>

  <div class="brand">

    <div class="brand-logo">
      <i class="bi bi-shield-check"></i>
    </div>

    <div class="brand-text">
      <h4>Excise Portal</h4>
      <small>Administration</small>
    </div>

  </div>

</div>

<!-- Menu -->
<div class="list-group list-group-flush flex-grow-1">

 <a
  routerLink="/admin/dashboard"
  routerLinkActive="active"
  class="list-group-item list-group-item-action sidebar-link">
  <i class="bi bi-speedometer2"></i>
  <span>Dashboard</span>
</a>
  <a
    routerLink="/admin/notice"
    routerLinkActive="active"
    class="list-group-item list-group-item-action sidebar-link">
<i class="bi bi-megaphone-fill"></i>
<span>Notice Management</span>  </a>

  <a
    routerLink="/admin/challan"
    class="list-group-item list-group-item-action sidebar-link">
<i class="bi bi-receipt"></i> Challan
  </a>

  <a
    routerLink="/admin/cm"
    class="list-group-item list-group-item-action sidebar-link">
    <i class="bi bi-person-badge"></i> CM

  </a>

  <a
    routerLink="/admin/company"
    class="list-group-item list-group-item-action sidebar-link">
<i class="bi bi-building"></i> Company
  </a>

  <a
    routerLink="/admin/crime-investigation"
    class="list-group-item list-group-item-action sidebar-link">
<i class="bi bi-shield-exclamation"></i> Crime Investigation
  </a>

  <a
    routerLink="/admin/excise-reports"
    class="list-group-item list-group-item-action sidebar-link">
<i class="bi bi-cup-hot"></i> Excise
  </a>

  <a
    routerLink="/admin/import-export"
    class="list-group-item list-group-item-action sidebar-link">
    <i class="bi bi-arrow-left-right"></i> Import / Export

  </a>

  <a
    routerLink="/admin/label-registration"
    class="list-group-item list-group-item-action sidebar-link">
    <i class="bi bi-patch-check"></i> Label Registration

  </a>

  <a
    routerLink="/admin/license"
    class="list-group-item list-group-item-action sidebar-link">
    <i class="bi bi-award"></i> License
  </a>

  <a
    routerLink="/admin/master"
    class="list-group-item list-group-item-action sidebar-link">
    <i class="bi bi-database"></i> Master
  </a>

  <a
    routerLink="/admin/permit"
    class="list-group-item list-group-item-action sidebar-link">
    <i class="bi bi-journal-text"></i> Patrak

  </a>

  <a
    routerLink="/admin/property-detail"
    class="list-group-item list-group-item-action sidebar-link">
    <i class="bi bi-house-check"></i> Property Detail

  </a>

  <a
    routerLink="/admin/user-management"
    class="list-group-item list-group-item-action sidebar-link">
    <i class="bi bi-people-fill"></i> User Management
  </a>

</div>

    <!-- Logout -->
    <div class="sidebar-footer">

      <button
        class="btn btn-danger w-100"
        (click)="logout()">
        Logout
      </button>

    </div>

  </div>

  <!-- Content -->
  <div
  class="content-area"
  [class.expanded]="sidebarCollapsed">
    <!-- Toggle Button -->
    <button
      *ngIf="sidebarCollapsed"
      class="btn btn-warning toggle-btn"
      (click)="toggleSidebar()">
      ☰
    </button>

    <div class="content-wrapper">

      <router-outlet></router-outlet>

    </div>

  </div>

</div>